.help-page {
	h2 {
		font-size: 1rem;
	}

	h3 {
		font-family: var(--title-font);
		font-size: 1rem;
		margin-bottom: .5rem;
	}

	.collapsed h2 {
		margin-bottom: 0;
	}

	a {
		color: var(--dark-slate-grey);
	}
}