.privacy-policy-link {
	border-top: solid 1px var(--dark-slate-grey);
	font-size: .8rem;
	margin-top: 3rem;
	padding-top: .5rem;
	text-align: center;
	a {
		font-weight: bold;
		color: var(--black);
	}
}