:root {
	--black: #0f0f0f;
	--raspberry: #d81159;
	--seasalt: #fcfafa;
	--spring-green: #2afc98;
	--electric-blue: linear-gradient(0deg, #2de1fc, #08b2e3);
	--dark-slate-grey: #214f4b;

	--bottom-nav-height: 3.5rem;

	--title-font: "Share Tech Mono", sans-serif;

	--default-box-shadow: .25rem .25rem .25rem var(--dark-slate-grey);
	--black-box-shadow: .25rem .25rem .25rem var(--black);
}